<h2> Course List new</h2>


<div class="form-group row">
    <label class="col-sm-2 col-form-label">Filter By:</label>
    <div class="col-sm-10">
        <input [(ngModel)]="filter" class="form-control">
    </div>
</div>

<table class="table table-striped">

    <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Price</th>
            <th>Code</th>
            <th>Rating</th>
            <th>Options</th>

        </tr>
    </thead>
    <tbody>
        <div class="cursos " *ngIf="filteredCourses.length; else semCadastro"></div>
        <tr *ngFor=" let course of filteredCourses">
            <td><img [src]=" course.imageUrl" width="70">
            </td>
            <td>{{ course.name | uppercase }}</td>
            <td>{{ course.price | replace }}</td>
            <!--Pipe criado e exportado no PipeModule-->
            <td>{{ course.code }}</td>

            <td>
                <app-star [rating]="course.rating"></app-star>
            </td>
            <td>
                <a [routerLink]="['/courses/info', course.id]" class="btn btn-primary mr-2">Edit</a>

                <button (click)="deleteById(course.id)" class="btn btn-danger">Delete </button>
            </td>
        </tr>

    </tbody>
</table>
<ng-template #semCadastro>
    <h1>Nenhum cadastro encontrado</h1>
</ng-template>