<h2>Course Info</h2>
<br>

<br>
<form #courseForm = "ngForm" *ngIf="course">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Id:</label>
        <div class="col-sm-10">   
            <input [(ngModel)]="course.id" required name="id" #courseId="ngModel" [ngClass]="{'is-invalid': courseId.invalid}" class="form-control">  
             <div class="invalid-feedback"> course name is invalid</div>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Name:</label>
        <div class="col-sm-10">   
            <input [(ngModel)]="course.name" required name="name" #courseName="ngModel" [ngClass]="{'is-invalid': courseName.invalid}" class="form-control">  
             <div class="invalid-feedback"> course name is invalid</div>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Price:</label>
        <div class="col-sm-10">   
            <input [(ngModel)]="course.price" required name="price" #coursePrice="ngModel" [ngClass]="{'is-invalid': coursePrice.invalid}" class="form-control">  
             <div class="invalid-feedback"> course price is invalid</div>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">imageUrl:</label>
        <div class="col-sm-10">   
            <input [(ngModel)]="course.imageUrl"  name="imageUrl" #courseImageUrl="ngModel"  class="form-control">  
             
        </div>
    </div>
    <button [disabled]="courseForm.invalid" (click)="save()"class="btn btn-primary mr-2">Save</button>
    <button [routerLink]="['/courses']" class="btn btn-secondary">Back</button>
</form>