<br>
<div [formGroup]="formGroup">
    <mat-card class="center width50">
        <mat-card-content>
            <mat-form-field  class="full-width" style="width:90% !important" >
                <input matInput 
                type="text"
                [placeholder]="titulo" 
                [name]="controlName"  
                [formControlName]="controlName"              
                class="full-width">    
                <mat-error *ngIf="(formGroup.touched || formGroup.dirty) && formControl.errors && formControl.errors.required">Campo
                    obrigatório</mat-error>
                    <mat-error *ngIf="(formGroup.touched || formGroup.dirty) && formControl.errors && formControl.errors.minlength">Campo
                        pequeno</mat-error>
                      <mat-error *ngIf="(formGroup.touched || formGroup.dirty) && formControl.errors && formControl.errors.maxlength">Campo
                        muito grande</mat-error>
                  
            </mat-form-field>
            
        </mat-card-content>
    </mat-card>
</div>
<br>