<form [formGroup]="formCliente" (ngSubmit)="onSubmit()" (ngReset)="reset()">
  <mat-card class="center width50">
    <mat-card-content>
      <mat-form-field class="full-width" style="width:90% !important">


        <input matInput placeholder="name" name="nome" formControlName="nome" class="full-width">
        <mat-error *ngIf="(formCliente.touched || formCliente.dirty) && f.nome.errors && f.nome.errors.required">Campo
          obrigatório</mat-error>
        <mat-error *ngIf="(formCliente.touched || formCliente.dirty) && f.nome.errors && f.nome.errors.minlength">Campo
          pequeno</mat-error>
        <mat-error *ngIf="(formCliente.touched || formCliente.dirty) && f.nome.errors && f.nome.errors.maxlength">Campo
          muito grande</mat-error>
      </mat-form-field>
    </mat-card-content>
  </mat-card>

  <div class="form-group">
    <label for="id">Id</label>
    <input type="text" class="form-control" name="id" formControlName="id">

  </div>


  <div class="form-group">
    <label for="imageUrl">Imagem Url</label>
    <input type="text" class="form-control" name="imageUrl" formControlName="imageUrl">
    <mat-error *ngIf="(formCliente.touched || formCliente.dirty) && f.imageUrl.errors && f.imageUrl.errors.required">
      Campo obrigatório</mat-error>
    <mat-error *ngIf="(formCliente.touched || formCliente.dirty) && f.imageUrl.errors && f.imageUrl.errors.minlength">
      Campo pequeno</mat-error>
    <mat-error *ngIf="(formCliente.touched || formCliente.dirty) && f.imageUrl.errors && f.imageUrl.errors.maxlength">
      Campo muito grande</mat-error>
  </div>

  <div class="form-group">
    <label for="code">codigo</label>
    <input type="text" class="form-control" name="code" formControlName="code">
  </div>

  <div class="form-group">
    <meu-input-text titulo="Mais um" controlName="codigo2" [formGroup]="formCliente"></meu-input-text>
  </div>

  <input type="submit" class="btn btn-primary mt-4" value="Salvar">

  <a href="/criar" class="btn btn-secondary mt-4 ml-2">Cancelar</a>
 
</form>