<div class="row">
  <div class="column">
    <mat-toolbar class="app-title">Cursos Cadastrados</mat-toolbar>

    

    <div class="home-content">
      <div class="cursos " *ngIf="filteredCourses.length; else semCadastro"></div>
      <mat-card class="example-card" *ngFor="let course of filteredCourses">

        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{course.name}}</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <div *ngIf='course.imageUrl'>

        </div>
        <div *ngIf="course.imageUrl; else elseBlock"><img mat-card-image [src]="course.imageUrl" [alt]="course.name">
        </div>
        <ng-template #elseBlock> <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
            alt="Photo of a Shiba Inu"></ng-template>


        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions >
         
          <a class="buttons-actions" [routerLink]="['/courses/info', course.id]" class="btn btn-primary mr-2">Edit</a>
          
          <button class="buttons-actions" (click)="deleteById(course.id)" class="btn btn-danger">Delete </button>
        </mat-card-actions>

      </mat-card>
    </div>
  </div>
</div>
<ng-template #semCadastro>
  <h1>Nenhum cadastro encontrado</h1>
</ng-template>

<!-- Copyright 2021 Google LLC. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at http://angular.io/license -->