.example-card {
    max-width: 400px;
   
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  .home-content {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 20px);
    padding: 10px 10px 10px 10px;
      
  }
  
  .mat-card {
    padding: 10px 10px 10px 10px;
    margin: 0px 0px 10px 10px;
  }
  .buttons-actions{
    padding: 10px 10px 10px 10px;
    margin: 10px 0px 10px 10px;
  }
  
  .mat-card-image {
    
    width: 250px;
    height: 268px;
    margin: auto;
    display: block;
  }
  
  @media screen and (min-width: 525px) {
    .home-content {
     
    }
  }
  
  @media screen and (min-width: 800px) {
    .home-content {
     
    }
  }
  
  @media screen and (min-width: 1300px) {
      .home-content {
       
      }
    }