<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a [routerLink]="['/courses']" class="navbar-brand">Course Manager</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a [routerLink]="['/courses']" routerLinkActive="active" class="nav-link">Courses</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/card']" routerLinkActive="active" class="nav-link">Card</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/criar']" routerLinkActive="active" class="nav-link">Criar</a>
            </li>
        </ul>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">           
        </ul>
    </div>
</nav>